@page
@model UngCamTuanKietFall2024RazorPages.Pages.Article.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NewsArticle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewsArticle.NewsArticleId" class="control-label"></label>
                <input asp-for="NewsArticle.NewsArticleId" class="form-control" />
                <span asp-validation-for="NewsArticle.NewsArticleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsArticle.NewsTitle" class="control-label"></label>
                <input asp-for="NewsArticle.NewsTitle" class="form-control" />
                <span asp-validation-for="NewsArticle.NewsTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsArticle.Headline" class="control-label"></label>
                <input asp-for="NewsArticle.Headline" class="form-control" />
                <span asp-validation-for="NewsArticle.Headline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsArticle.NewsContent" class="control-label"></label>
                <input asp-for="NewsArticle.NewsContent" class="form-control" />
                <span asp-validation-for="NewsArticle.NewsContent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsArticle.NewsSource" class="control-label"></label>
                <input asp-for="NewsArticle.NewsSource" class="form-control" />
                <span asp-validation-for="NewsArticle.NewsSource" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewsArticle.CategoryId" class="control-label"></label>
                <select asp-for="NewsArticle.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <!-- Multi-select dropdown for Tags -->
            <div class="form-group">
                <label>Tags</label>
                <select asp-for="SelectedTags" class="form-control" multiple="multiple" asp-items="ViewBag.TagId"></select>
                <span asp-validation-for="SelectedTags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Staff/StaffPage">Back to List</a>
</div>

@section Scripts {
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/site.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
